body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

a{
text-decoration: none;
}

p{
  margin:0 auto;
  display:block;
}
.show{
  margin:0 auto;
  display:block;
}
.main{
text-align: center;
margin-top: 50px;
}

.login{
margin:0 auto;
display:block;
margin-top: 50px;
font-size: 1rem;
}

.register{
margin:0 auto;
display:block;
margin-top: 50px;
font-size: 1rem;
}
