body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

a{
text-decoration: none;
}

p{
  margin:0 auto;
  display:block;
}
.show{
  margin:0 auto;
  display:block;
}
.main{
text-align: center;
margin-top: 50px;
}

.login{
margin:0 auto;
display:block;
margin-top: 50px;
font-size: 1rem;
}

.register{
margin:0 auto;
display:block;
margin-top: 50px;
font-size: 1rem;
}

ul{
  height: 500px;
  overflow-y: scroll;
  scrollbar-color: white #202731;
}

#myMessage{
  width: 300px;
  margin: auto;
}
#sendbutton{
  width: 90px;
  margin: auto;
}
#likeBtn{
  width: 90px;
  margin: auto;
}
.content {
  border: ivory;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  overflow-y: scroll;
  scrollbar-color: white #202731;
}

.content2 {
  margin: auto;
}