<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <h1 class="main">This is Main Page</h1>

  {% block content %}
    {% if session['logged_in'] %}
      <h3>{{data}}</h3>
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">
        <button class='login' type="button">Login/Register</button>
      </a>
    {% endif %}
  {% endblock %}
  </body>
</html>


