<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
    <style>
      .center{
        margin-left: auto;
        margin-right: auto;
      }
      table, th, td {
        border:1px solid white;
      }
      th{
        text-align: center;
        width: 100px;
      }
      td{
        text-align: center;
        width: 200px;
      }
      </style>
  </head>

  <h1 class="main">This is Main Page</h1>
  {% block content %}
    {% if session['logged_in'] %}
      <h3>{{data}}</h3>
      <a href="/logout">
        <button class='logout' type="button">Logout</button>
      </a>
      <a href="/chat">
        <button class='chat' type="button">Chat Room</button>
      </a>
      <a href="/posting">
        <button class='posting' type ="button">Posting</button>
      </a>
      <br>
      {% for elem in posting %}
        <table class = "center">
          <tr>
            <th>Uploader</th>
            <td>{{elem["uploader"]}}</td>
          </tr>
          <tr>
            <th>Title</th>
            <td>{{elem["title"]}}</td>
          </tr>
          <tr>
            <th>Content</th>
            <td>{{elem["content"]}}</td>
          </tr>
        </table>
        <br>
      {% endfor %}
      
    {% else %}
      <a href="/login">
        <button class='login' type="button">Login</button>
      </a>
      <a href="/register">
        <button class='register' type="button">Register</button>
      </a>
    {% endif %}
  {% endblock %}
  <script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        const element = document.getElementsByTagName("h3");

        socket.on('message', function(msg){
                console.log(msg.message);
                if (msg.message.includes('@'+element[0].innerHTML)){
                  if (window.confirm(msg.username+" mentioned you!\nMessage from "+msg.message +'\nClick OK to Reply'))
                    {
                    window.location.href='http://' + document.domain + ':' + location.port+'/chat';
                    };
                }

        });
    });
  </script>
  {% if session['logged_in'] %}
    <h2>Online Users: {{onlineUsers|safe}}</h2>
  {% endif %}
  <ul id="messages">{{message|safe}}</ul>
  </body>
</html>
