<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
  </head>

  <h1 class="main">This is Main Page</h1>

  {% block content %}
    {% if session['logged_in'] %}
      <h3>{{data}}</h3>
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">
        <button class='login' type="button">Login</button>
      </a>
      <a href="/register">
        <button class='register' type="button">Register</button>
      </a>
    {% endif %}
  {% endblock %}
  <script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        console.log(socket);
        const element = document.getElementsByTagName("h3");
        console.log("this is " + element[0].innerHTML);
        socket.on('message', function(msg){
                console.log(msg.message);
                if (msg.message.includes('@'+element[0].innerHTML)){
                  alert("DM from "+msg.username);
                }

        });
    });
  </script>
  <ul id="messages">{{message|safe}}</ul>
  <script>{{testing|safe}}</script>
  </body>
</html>