<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<form action = "{{url_for('postNewContent')}}" method="post">
    Title: <input tpye="text" name="title"><br>
    Content: <input type="text" name="content"><br>
    <input type="submit" value="Post">
</form>
<br>
<a href="/home">
    <button class='return' type="button">Return to main page</button>
</a>

</body>
</html>
